# Ignore everything:
home_dir/*
home_dir/.config/*
/**/*.ignore
/**/.vscode

# Except for

# home
!home_dir
!home_dir/.gitconfig
!home_dir/.profile

# bazel
!home_dir/.bazelrc

# zsh
!home_dir/.zshrc
!home_dir/.my_zsh/

# ~/bin
home_dir/bin/*
!home_dir/bin/
!home_dir/bin/c++
!home_dir/bin/vpn
!home_dir/bin/kill_and_run

## .config
!home_dir/.config/

# redshift
!/home_dir/.config/redshift.conf

# libinput gestures
!/home_dir/.config/libinput-gestures.conf

# alacritty
!home_dir/.config/alacritty

# htop
!home_dir/.config/htop

# i3
!home_dir/.config/i3/

# bspwm
!home_dir/.config/bspwm/

# sxhkd
!home_dir/.config/sxhkd/

# set wm
!home_dir/.config/plasma-workspace

# rofi
!home_dir/.config/rofi

# i3icons
!home_dir/.config/i3icons

# wall
!home_dir/wall
