# Ignore everything:
home_dir/*
home_dir/.config/*
/**/*.ignore

# Except for

# home
!home_dir
!home_dir/.gitconfig
!home_dir/.profile

# bazel
!home_dir/.bazelrc

# zsh
!home_dir/.zshrc
!home_dir/.my_zsh/

# ~/bin
home_dir/bin/*
!home_dir/bin/
!home_dir/bin/c++
!home_dir/bin/vpn

## .config
!home_dir/.config/

# alacritty
!home_dir/.config/alacritty

# htop
!home_dir/.config/htop

# i3
!home_dir/.config/i3/
