# Ignore everything:
/**/.vscode
/**/*.ignore
home_dir/*
home_dir/.config/*
home_dir/.config/polybar/*
home_dir/bin/*

# Except for:

## home
!home_dir
!home_dir/.bazelrc
!home_dir/.gitconfig
!home_dir/.profile

# zsh
!home_dir/.my_zsh/
!home_dir/.zshrc


## .config
!home_dir/.config/

# alacritty
!home_dir/.config/alacritty

# bspwm
!home_dir/.config/bspwm/

# htop
!home_dir/.config/htop

# i3
!home_dir/.config/i3/

# i3icons
!home_dir/.config/i3icons

# libinput gestures
!home_dir/.config/libinput-gestures.conf

# set wm
!home_dir/.config/plasma-workspace

# Polybar
!home_dir/.config/polybar
!home_dir/.config/polybar/my

# redshift
!home_dir/.config/redshift.conf

# rofi
!home_dir/.config/rofi

# sxhkd
!home_dir/.config/sxhkd/

# dxhd
!home_dir/.config/dxhd/

# bin
!home_dir/bin/
!home_dir/bin/bspwm_unurgent_on_active_desktop.sh
!home_dir/bin/c++
!home_dir/bin/double_click.sh
!home_dir/bin/kill_and_run
!home_dir/bin/tabc.sh
!home_dir/bin/vpn

# wall
!home_dir/wall

